<h1>대쉬보드</h1>

<div layout="row">
    <div class="flex">접속됨</div>
    <div class="flex">
        <md-button class="md-raised md-cornered">재접속</md-button>
    </div>
</div>

<div layout="row">
  <md-button class="md-raised md-cornered" ng-click="vm.printTest()">인쇄 테스트</md-button>
</div>

<div layout="row">
  <md-button class="md-raised md-cornered" ng-click="vm.editTemplate()">템플릿 편집</md-button>
</div>
