<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MeasureAid Printer 프로그램</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
        <link rel="stylesheet" href="assets/app.css"/>

        <style type="text/css">
            /**
         * Hide when Angular is not yet loaded and initialized
         */
            .ng-cloak,
            .x-ng-cloak,
            [data-ng-cloak],
            [ng-cloak],
            [ng\:cloak],
            [x-ng-cloak] {
                display: none !important;
            }

        </style>

    </head>

    <body ng-app="masPrinterApp" layout="row" ng-controller="UserController as ul" ng-cloak>

        <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-click="ul.toggleList()" aria-label="Show User List" md-is-locked-open="$mdMedia('gt-sm')">

            <!-- <md-toolbar class="md-whiteframe-z1">
      <h3>Users</h3>
    </md-toolbar> -->

            <md-list>
                <md-list-item>
                    <md-button ui-sref="printer" ng-class="{'selected' : it === ul.selected }">
                        <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                        대쉬보드
                    </md-button>
                </md-list-item>

                <md-list-item>
                    <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                        <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                        현황
                    </md-button>
                </md-list-item>

                <md-list-item>
                    <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                        <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                        설정
                    </md-button>
                </md-list-item>
            </md-list>

        </md-sidenav>

        <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

            <md-toolbar layout="row" class="md-whiteframe-z1">
                <md-button id="main" class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
                    <md-icon md-svg-icon="menu"></md-icon>
                </md-button>
                <h3>메져에이드 프린터 서비스</h3>
            </md-toolbar>

            <md-content flex id="content" ui-view=""></md-content>

        </div>

        <script src="../node_modules/angular/angular.js"></script>
        <script src="../node_modules/angular-animate/angular-animate.js"></script>
        <script src="../node_modules/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

        <script src="./src/users/Users.js"></script>
        <script src="./src/users/UserController.js"></script>
        <script src="./src/users/UserService.js"></script>
        <script src="./src/printer/printer.module.js"></script>
        <script src="./src/dashboard/dashboard.controller.js"></script>
        <script src="./src/printer/printer.controller.js"></script>

        <script src="./src/app.js"></script>
    </body>
</html>
