<form ng-submit="vm.submit(label)">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <div>
            <md-input-container>
                <label>제품명</label>
                <input ng-model="label.title">
            </md-input-container>
            <md-input-container>
                <label>코드</label>
                <input ng-model="label.code">
            </md-input-container>
        </div>
    </md-content>

    <md-content layout-padding>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>창고명</label>
                <input ng-model="label.container_name">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>갯수</label>
                <input ng-model="label.quantity" type="number">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>단위</label>
                <input ng-model="label.unit" type="text">
            </md-input-container>
        </div>
    </md-content>
</form>
